solucion_programacion_lineal.txt
solucion_aproximada_greedy.txt
solucion_aproximada.txt
solucion.txt

__pycache__
utils/__pycache__
~$P3 TDA.docx
*.tmp

5_2.txt
5_2_solved.txt

generador.txt
generador_solved.txt